body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	text-align: center;
}

h1 {
		margin-top: 0;
		font-family: 'Great Vibes', cursive;
		font-size: 5.625rem;
		margin: 40px auto 0 auto;
		color: #66BFBF;
}
h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		color: #66BFBF;
		font-weight: normal;
		}
h3 {
		font-family: 'Montserrat', sans-serif;
		color: #11999E;
}

.top-container {
		background-color: #f3f8ff;
		position: relative;
		padding-top: 80px;
}
.mid-container {
	line-height: 2;
}
.bottom-container {

}
.dev {
	text-decoration: underline;
}
.pro {
	text-decoration: underline;
}
.bottom-idea {
	height: 150px;
	left: 200px;
	position: absolute;
	width: 150px;

}
.top-idea {
	height: 150px;
	right: 200px;
	position: absolute;
	width: 150px;
}
.web-dev {
	width: 65%;
}
.mypic {
	height: 300px;
	width: 320px;
}
.sysops {
		width: 50%;
		float: left;
		margin-right: 30px;
}

.shura-img {
	width: 50%;
	float: left;
	margin-right: 30px;
}
.network-img {
	width: 50%;
	float: right;
	margin-left: 30px;
}
.work-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}
.work-row a {
	font-style: italic;
}
.profile {
	line-height: 2;
	width: 50%;
	margin: auto;
}
.wyears {
	font-style: italic;
}
